@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Major+Mono+Display&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@layer base {
  html,
  body {
    @apply scroll-smooth box-border;
  }

  body {
    @apply text-base transition-all duration-300;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply text-[#346596] font-title font-bold;
  }

  span{
    @apply text-vWhite
  }

  button {
    @apply transition-all duration-300 active:scale-[0.98] hover:scale-[1.02] cursor-pointer;
  }
  p {
    @apply font-main text-vWhite;
  }
  a:hover {
    @apply text-selected;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px #346596;
    text-shadow: 0 0 20px rgba(0, 200, 255, 0.2);
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
  /* @media only screen and (min-width: 1536px) {
    html {
      zoom: 100%;
    }
  }

  @media only screen and (min-width: 2160px) {
    html {
      zoom: 130%;
    }
  }

  @media only screen and (min-width: 3000px) {
    html {
      zoom: 200%;
    }
  }
  @media only screen and (min-width: 4000px) {
    html {
      zoom: 250%;
    }
  } */
}

/* @layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
} */

