@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@layer base {
  html,
  body {
    @apply scroll-smooth;
  }
  body {
    @apply text-base;
  }
  h1,
  h2 {
    @apply text-[#346596] font-title;
  }
  /* span {
    @apply text-vGray font-tag italic leading-none opacity-50;
  } */
  li {
    @apply text-vGray font-tag;
  }
  p {
    @apply font-main;
  }
  a:hover,
  span:hover {
    @apply text-selected;
  }
}

/* @layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
} */

